
.div1-am{
    height: 31em;
    width: 100%;
    //background-color: rgba(208, 204, 208, 1);
    background-color: rgb(25, 24, 26);
}

.p-am{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: whitesmoke;
}
.p-am-des{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: whitesmoke;
    //padding: 5%;
    padding-top: 30%;
    margin: 0%;
    text-justify: auto;
}

.h4-am{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: whitesmoke;
}

.div-title{
    align-content: center;
}

.title-am{
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    padding-bottom: 0.4em;
    padding-top: 0.5em;
    margin-left: 2.5em;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.div-image{
    width: 90%;
    align-content: center;
    margin: 0%;
    padding-left: 5%; 
}

.image-me{
    width: 95%;
    border-radius: 100%;
    //align-content: center;
}

.column-center{
    margin: 1em;
    //border-right: 3px solid whitesmoke;
    //align-content: center;
}
.column-right{
    //margin: 1em;
    padding-right: 0%;
    margin-right: 0%;
}
.column-left{
    margin: 1em;
    padding-left: 0%;
    margin-left: 0%;
}
.column-div{
    text-align: left;
    padding-left: 30%;
    padding-top: 18%;
}

.column-div-2{
    text-align: left;
    padding-right: 20%;
}

.extra-div{
    width: 5%;
    padding-top: 10%;
}

.row{
    width: 100%;
}