.div1-exp{
    /*height: 31em;*/
    width: 100%;
   /*padding-left: 7.5%;
    //padding-right: 7.5%;
    //background-color: rgba(208, 204, 208, 1);*/
    background-color: rgba(222, 224, 208, 1);
}

.div2-exp{
   /*height: 31em;
    //width: 100%;*/
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2.5%; 
    /*background-color: rgba(208, 204, 208, 1);*/
    background-color: rgba(222, 224, 208, 1);
}

.div-title-exp{
    align-content: center;
}

.title-exp{
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    padding-bottom: 0.4em;
    padding-top: 0.5em;
    margin-left: 2.5em;
    color: rgba(1, 25, 54, 1);
    border-bottom: 1px solid rgb(180, 182, 168);
}

.edu-exp{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding: 1em;
    padding-bottom: 0.4em;
    /*padding-top: 0.5em;
    //margin-left: 2.5em;*/
    color: rgb(2, 49, 107);
}

//Experiences module----------------------------------------------
.Fst-col{
    margin: 1em;
}

.Snd-col{
    margin: 1em;
}

.edu-name{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 1.25em;
    font-weight: bold;
}

.edu-ack{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    font-weight: bold;
}

.p-color{
    color: rgba(47, 45, 48, 1);
}

.p-normal{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    text-align: justify;
}

.row-exp{
    padding-left: 10%;
}

.div-line{
    height: 2em;
    margin: 1em;
    border-bottom: 1px solid rgb(180, 182, 168);
}
/*-----------------------------------------------------------------*/