.div-quote{
    width: 100%;
    //height: 200px;
    background-color: rgb(25, 24, 26);
    border-top: 3px dashed rgba(47, 45, 48, 0.85);

}

.div-quote-in{
    padding: 2%;
}

.p-quote{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: rgba(222, 224, 208, 1);
    font-style: italic;
    text-align: center;
}

.p-quote-ref{
    font-family: 'Courier New', Courier, monospace;    
    font-size: 1.5em;
    color: rgba(222, 224, 208, 1);
    text-align: center;
}